body{
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}
    /*NAVIGATION BAR*/
    
    p{
        font-size: 17px;
      }
      nav{
          width: 97%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: black;
          font-size: 17px;
          text-decoration: none;
      }
      .nav-element{
         width: 40%;
         height: 90px;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
      .nav-element-mobile, .mobile {
      display: none;
      }
      .register{
          width: 370px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
      }
      .a, .deliver{
          text-decoration: none;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 18px;
      }
      .p{
          color:#FBBC05;
          font-weight: 600;
          font-size: 20px;
          border-bottom: 2px solid #FBBC05;
      }
      .a:hover{
          color: #FBBC05;
          border-bottom: 2px solid #FBBC05;
      }
      nav{
          font-size: 18px;
      }
      .sub-nav{
          margin-left: 130px;
          width: 75%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .signup{
          width: 130px;
      height: 38px;
      font-size: 18px;
      font-size: 16px;
      background-color: #FBBC05;
      color: white;
      margin-left: 20px;
      border-radius: 24px;
      border: none;
      }



.First{
    background-image: url('Assets/background\ image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
.desktop{
   margin: 0;
   height: 100px;
   width: 95%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 30px;
}
.nav-element{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signin{
    border: none;
    background-color: #fbbc05;
    padding:  8px 16px;
    color: #fffbfb;
    justify-self: right;
    gap: -50%;
    border-radius: 30px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
.signin:hover{
    background-color: #644c04;
}
.fa-globe{
    font-size: 20px;
    color: #fffbfb;
}
.a{
    margin-top: 10px;
}
.fa-user{
    font-size: 20px;
    color: #fffbfb;
}
a{
    text-decoration: none;
    color: #fffbfb;
}
.ok{
    color: #fffbfb;
    margin-top: 10px;
}
.sub-elmt{
    display: flex;
    justify-content: space-between;
}
.sub-nav{
    width: 80%;
    height: 80px;
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;

}
.main{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    
}
.ok{
    width: 24px;
    row-gap: 40px;
}
.sub-con{
    display: flex;
    width: 60%;
    flex-direction: column;
    padding-left: 40px;
    color: #fffbfb;
}
.ko-1{
    font-size: 50px;
    font-weight: bold;
}

.container {
    
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fffbfb;
    grid-template-rows: 80px;
    height: 40px;
  }
.btn{
    height: 30px;
    width: 100px;
    border-radius: 35px;
    border: none;
    background-color: #fbbc05;
    padding: 10px px;
    align-items: end;
    position: relative;
    right: 5px;
    text-align: centers;
    top: 6px;
    bottom: 5px;
}
.btn-f{
    height: 38px;
    padding-right: 10px;
    border: none;
    background-color: transparent;
    padding: 8px;
    margin-top: 1px;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
}
.component{
    margin: 0;
    top: 0;
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    padding-top: 24px;
    background-color: #070c90;
    background-size: 100%;
}
.sub-comp{
    margin: 20px;
    right: 0;
    padding-left: 20px;
    display: flex;
    width: 250px;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px; 
    position: relative;
    overflow: visible;
    background-color: #fffbfb;
    border-radius: 10px;
}
.bi-camera{
    padding: 8px 16px;
}
.benit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.okay{
    font-size: 50px;
    font-weight: bold
}
.tik-img{
  height: 250px;
  object-fit: cover;
  width: 250px;
}
.discounted-price{
    font-size: larger;
}
h4{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: large;
  font-style: normal;
    color: #1e05fb;
}
.edit{
    color:red;
}
.content{
    position: relative;
    bottom: 500px;
    left: 300px;
    padding-left: 50px;
    margin-bottom: -250px;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #ccc;
    width: 100%;
    flex-direction: column;
  }
  .subscription-form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px;
  }

  .subscription-form input[type="email"] {
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
    width: 300px;
    border-radius: 10px;
  }

  .subscription-form button {
    border: 1px solid #ccc;
    padding: 15px 25px;
    background-color: #FFD700; 
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    width: 200px;
    border-radius: 10px;
  }
  .foot{
    color: #fffbfb;
    margin: 0;
    padding-top: 12px;
    display:flex;
    width:100%;
    height: 40vh;
    justify-content: space-between;
    padding-left: 12px;
    background-color: grey
  }
  .tap{
    color:#fbbc05;
    font-size: 20px;
    font-weight: bold;
  }
  

         /*FOOTER*/
.complete-footer{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 100%;
    font-size: 17px;
    height: 45%;
    background-color: grey
}
.footer{
width: 100%;
display: flex;
align-items: center;
text-align: justify;
justify-content: space-evenly;
}
.MyCart{
    width: 160px;
    height: 38px;
    border-color: #fbbc05;
    background-color: white;
    color:#fbbc05;
    border: 1px solid;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}




.boxes{
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.Each-box:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.172);
    .product-name{
    color:#34C8EB;;
    }
  .buy-btns{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.172);
  }
  .cost{
    color: red;
  }    
}
.Each-box{
    border: 1px solid rgba(177, 177, 177, 0.657);;
    width: 280px;
    height: 440px;
    padding: 12px;
    line-height: 0px;
    margin: 8px;
    background-color: white;
    padding-bottom:20px;
    border-radius: 12px;
}

.pdt-img{
    width: 100%;
    height: 288px;
    border-radius: 12px;
    
}
.buy-btns{
    width: 127px;
    height: 42px;
}
.less-prior-btn{
    background-color: white;
    color: #FBBC05;
    border: 1px solid #FBBC05;
}
.prior{
    background-color: #FBBC05;
    position: relative;
    right: 20px;
    border: none;
    color: white;
}
.buy-btns{
   border-radius: 4px;
}
.product-name{
    font-size: 20px;
    font-weight: 600;
}
.product-desc{
   color: rgba(50, 50, 50, 0.8);
}
.cost{
    font-size: 20px;
    color: #076590;
    font-weight: 500;
}
.cart-btns{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 19px;
}
.checked{
    color: orange;
}
.unchecked{
    color: rgba(146, 146, 146, 0.824);
}
.products{
    width: 99%;
    margin-left: 12px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.Featured{
    font-size: 26px;
    color: white;
}
.more{
    font-size: larger;
    color:#FBBC05
}
.seller{
    width: 160px;
    height: 39px;
    background-color: #FBBC05;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
}

.service{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 40px;
 }
 .our-services{
 width: 300px;
 height: 200px;
 }
 .service-Img{
    width: 200px;
 }
 .view-more{
     color:#FBBC05;

 }






 
h2{
    text-align: center;
    color:#070C90;
    font-size: 24px;
    
}
.get-tools{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.learn-moreBtn{
    width: 120px;
    height: 38px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #FBBC05;
    color: #FBBC05;
}
.imgTool{
    width: 600px;
}
.tool-text{
    font-size: 24px;
}
.Testimonial{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.testimonial-img{
   width: 600px;
}
.testimonyBtn{
    color: #FBBC05;
    background-color: white;
    border:1px solid #FBBC05;
    margin-left: -2px;
}
h3{
    font-size: 24px;
}
.testimonies{
  font-size: 30px;
  color: #FBBC05;
}
 