/*box1 :FFE3E8, box2:FFF5DB, box3:DDFDE8, box4:F5E7FF,
icon1:D76F84, icon2:F1937C  icon3:3ADA48  icon4:#CC8DFF
  */

  body{
    background-color: #ededed;
    font-family:Arial, Helvetica, sans-serif 
}
.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 20%;
    height: 720px;
    flex-direction: column;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: left;
    background-color: #070C90;
}
.sub-main{
    width: 55%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    top: 20px; 
}
.logos{
    margin-top: 32px;
    margin-right: 60px;
    width: 92px;
    background-color: white;
}
.line{
    width: 200px;
    height: 0px;
    margin: 24px;
    border: 1px solid rgba(190, 190, 190, 0.848);
}
.sub{
    position: relative;
    top: 250px;
}
h2{
    color: #070C90;
}
.btn{
    text-align: justify;
    border: none;
    width: 150px;
    color: white;
    background-color: transparent;
    height: 40px;
    border-radius: 6px;
    font-size: 17px;   
}
.status{
    background-color: #FBBC05;
    text-align: justify;
    border: none;
    width: 150px;
    color: white;
    height: 40px;
    border-radius: 6px;
    font-size: 17px; 
}
.btn:hover{
   border-color:#FBBC05;
   color: #FBBC05;
   border: 1px solid;
   cursor: pointer;
}
.container{
   width: 80%;
   height: 720px;
   flex-direction: column;
   display: flex;
   align-items: center;
 
}
.top-nav{
width: 90.58%;
padding-top: 8px;
height: 70px;
padding-left:52px;
padding-right: 52px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: white;
}

.sub-container{
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nationality, .profile{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
   color: rgba(69, 69, 69, 0.838);
   font-size: 14px;
}

.img{
  border-radius: 30px;
}
.fa{
  font-size: 18px;
}
.fa-search{
    position: relative;
    left: 300px;
    
}

.fa-bell{
    color: orange;
}
.search-bar{
    width: 310px;
    padding-left: 12px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #f6f6f681;
}
option{
    font-weight: 500;
}
select{
    width: 80px;
    height: 24px;
    border: none;
}
.card{
    width: 86%;
    height:84%;
    background-color: white;
    margin-top: 16px;
    box-shadow: 2px 2px 2px 2px #aeaeaedb;
}
.head{
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
}
.boxes{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

}
.box{
  
  width: 400px;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 16px; 
  border: 1px solid rgb(186, 186, 186);
  background-color: white;
}
input, select{
    font-size: 18px;
}
.image-box{
    border: 1px dashed rgb(0, 119, 255);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f2f2f2db;
    padding-top: 48px;
    padding-bottom: 48px;
}
.fa-upload{
    color: rgb(0, 166, 255);
}
.cart{
    width: 380px;
    height: 38px;
    border-radius: 6px;
   margin-top: 12px;
    border: 1px solid rgb(147, 147, 147);
}
.cart-1{
   position: relative;
   bottom: 38px;
   width: 380px;
   height: 38px;
   border: 1px solid rgb(147, 147, 147);
}
.sub-box{
    color: rgb(67, 67, 67);
    margin-top: -4px;
    flex-direction: column;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(147, 147, 147);
    padding-top: 14px;
    padding-left: 10px;
    border-radius: 12px;
    line-height: 2px;
}
.pdt-infos{

    color: rgb(67, 67, 67);
    height: 300px;
    border: 1px solid;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    justify-content: space-evenly;
    border: 1px solid rgb(147, 147, 147);
}
.fa-times{
    color: red;
}
.pdt-information{
    padding-left: 12px;
    width: 380px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid rgb(147, 147, 147);  
}
textarea{
    width: 100%;
    height: 65px;
}
.div{
    width: 380px;
}
.top{
      width: 495px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
}
.top-2{
    width: 400px;
      display: flex;
      align-items: last baseline;
      justify-content: space-between;
      
}
#quantity{
    width: 100px;
    height: 38px;
    position: relative;
    right: 105px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 6px;
}
.label{
    margin-top: 6px;
    width: 260px;
    height: 38px;
    border: 1px solid rgb(147, 147, 147); 
    border-radius: 6px;
    padding-left: 12px;
}
.add-btn{
    width: 110px;
    color: white;
    background-color: #FBBC05;
    border: none;
    border-radius: 4px;
    height: 38px;
}
.end{
    color: rgb(67, 67, 67);
    line-height: 10px;
}
.peices{
    margin-top: 6px;
    width: 100px;
    height: 38px;
}